{
  "aws": {
    "access_key": "123",
    "secret_key": "abc",
    "region": "eu-west-1",
    "bucket": "bucket",
    "bucket_url": "https://s3-eu-west-1.amazonaws.com/bucket"
  },
  "originals_dir": "/opt/images",
  "listen_address": "127.0.0.1",
  "db_file": "/opt/db.cache"
}
