{
  "aws": {
    "access_key": "123",
    "secret_key": "abc",
    "region": "eu-west-1",
    "bucket": "bucket",
    "bucket_url": "https://s3-eu-west-1.amazonaws.com/bucket"
  },
  "originals_dir": "/opt/images",
  "listen_address": "127.0.0.1",
  "postgresql": {
    "user": "imageresizer",
    "password": "rogierisgaaf",
    "host": "192.168.99.1",
    "database": "imageresizer"
  },  
  "allow_indexing": false,
  "constraints": {
    "max_width": 2000,
    "max_height": 2000
  }
}
